@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;

}

body {
  color: #222;
  line-height: 1.5em;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .tab-inner {
    width: 300px;
    height: 350px;
    border: 1px solid red;

    input[name=tabmenu]{
      display: none;
    }
    .slide {
      .slide-inner{
        img{
          width: 300px;
          height: 350px;
          object-fit: cover;
        }
      }
    }
    .btn{
      text-align: center;
      margin-top: 10px;

      label {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #666;
        border-radius: 50%;
      }
    }

  }
}