* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}
* ul {
  list-style: none;
}
* h2, * h3 {
  margin: 20px 0;
  font-size: 36px;
  background-color: #fff;
}
* h3 {
  font-size: 24px;
}

.header {
  width: 100vw;
  height: 100px;
  background-color: #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 200px;
  height: 100%;
  background-color: #ccc;
  border: 1px solid red;
  line-height: 100px;
  text-align: center;
}
.header .right-menu {
  display: flex;
  width: 800px;
  height: 100%;
}
.header .right-menu .navbar, .header .right-menu .icons {
  line-height: 100px;
  width: 400px;
  height: 100%;
  background-color: #eee;
}
.header .right-menu .navbar ul, .header .right-menu .icons ul {
  display: flex;
  justify-content: space-around;
}
.header .right-menu .navbar {
  background-color: #ddd;
}

#wrap {
  width: 1200px;
  margin: 0 auto;
}
#wrap main .slide {
  width: 100%;
  height: 300px;
  background-color: #ccc;
}
#wrap main article {
  display: flex;
  flex-direction: column;
}
#wrap main article .slot {
  display: flex;
}
#wrap main article .slot div {
  width: calc((100% - 3.2rem) / 3);
  height: 200px;
  border: 1px solid red;
  margin: 0 10px;
}
#wrap main section .banner {
  border: 1px solid red;
  width: 100%;
  height: 280px;
  padding: 20px;
}
#wrap main section .banner .course {
  float: left;
  display: flex;
  background-color: #bbb;
  width: 400px;
  height: 100%;
  margin-right: 20px;
}
#wrap main section .banner .info {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#wrap main section .banner .info .detail {
  width: 60%;
  color: #666;
}
#wrap main section .banner .info .price {
  font-size: 30px;
}
#wrap main .view, #wrap main .recommend {
  display: flex;
  width: 100%;
  height: 300px;
  flex-direction: column;
  padding-top: 40px;
}
#wrap main .view .view-box, #wrap main .view .recom-box, #wrap main .recommend .view-box, #wrap main .recommend .recom-box {
  display: flex;
  height: 100%;
}
#wrap main .view .view-box div, #wrap main .view .recom-box div, #wrap main .recommend .view-box div, #wrap main .recommend .recom-box div {
  border: 1px solid red;
  width: 20%;
  height: 100%;
  margin: 0 5px;
}

footer {
  width: 100%;
  height: 600px;
  background-color: #222;
  margin-top: 50px;
  color: white;
}
footer hr {
  border-top: 1px solid #aaa;
}
footer .text {
  padding: 20px 0;
  background-color: #222;
  padding-left: 50px;
}
footer .text h2 {
  background-color: #222;
}
footer .text p, footer .text h3 {
  background-color: #222;
  padding-bottom: 40px;
}
footer .text h3 {
  font-size: 30px;
  padding: 20px 0;
}
footer .text h3 span {
  font-size: 30px;
  color: rgb(202, 155, 202);
}
footer .third {
  display: flex;
  flex-direction: column;
  width: 43%;
}
footer .third .quick-menu {
  padding: 50px;
  display: flex;
}
footer .third .quick-menu ul li {
  font-size: 32px;
  width: 200px;
}
footer .third .logo {
  width: 300px;
  height: 100px;
  background-color: rgb(165, 160, 160);
}/*# sourceMappingURL=style.css.map */