@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;

}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
.video-frame{
  video {
    position: fixed;
    min-height: 100%;  // fill it up even if the screen is small.
    min-height: 100%;
    z-index: -1;   // because video is placed z-index top.
  }
}

.logo {  //image doesn't have before,after.
  position: absolute;
  top:50px;
  left:100px;
}
// font-family: 'Monoton', cursive;
// font-family: 'Montserrat', sans-serif;

.heading {
  position: absolute;
  width:600px;
  bottom: 100px;
  left: 100px;

  h1{
    font-size: 60px;

    span {
      color: crimson;
    }
  
  }
  a{
    padding: 7px 20px;
    border:2px solid white;
    border-radius: 20px;
    display: inline-block;
    margin: 12px 5px;
    transition: all 0.3s;
    
  }
  .btn-book:hover{
    border-color: #000;
    background-color: #000;
  }
  .btn-learn:hover{
    background-color: #fff;
    color: black;
    border-color: #fff;
  }


}
.anniversary{
  position: absolute;
  right:100px;
  bottom:100px;
  text-align: center;
  
  h2{
    color: black;
   
  }

  span {
    color: black;
    font-size: 120px;
    line-height: 1.2em;
    font-family: 'Monoton', cursive;
  }

  }

