@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bellota Text', cursive;
  width: 100vw;
  height: 100%;
  background-color: #444;
  margin: 0 auto;
  overflow-x: hidden;


  .container {
  
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

    .card {
      background-color: skyblue;
      width: 300px;
      height: 200px;
      margin: 5px 0;
      transform: translateX(0%);
      transition: transform 0.8s ease;

      &:nth-child(even) {
        transform: translateX(-500%);

      }

      &:nth-child(odd) {
        transform: translateX(500%);


      }

      &.active {
        transform: translateX(0);
      }
    }



  }
}