@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.inner{
  width: 100vw;
  height:100vh;

  input {
    display: none;
  }
  input[name=tab1]:checked ~ .slide1{
    transform: translateX(-100%);
  }
  input[name=tab2]:checked ~ .slide2{
    transform: translateX(-200%);
  }
  input[name=tab3]:checked ~ .slide3{
    transform: translateX(-300%);
  }

  .frame {
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::after{
      content: '';
      display: block;
      clear: both;
    }

//     position: relative;
.items{
  width: 300%;
  height: 100vh;
  display: flex;


  div{
    width: 33.33%;
  }
    .slide1{
      background-color: pink;
    }
    .slide2{
      background-color: rgb(192, 255, 195);
    }
    .slide3{
      background-color: rgb(192, 242, 255);
    }
 

  }
 
    .items {
      width: 300%;
      height: 100%;
      translate: transform 0.3s ease;
    
      h1{
        text-align: center;
        color:#222;
      }

      .slide1, .slide2, .slide3 {
        width: 100%;
        height: 100%;
         
      }

   
    }
     
    .btn {
      width: 300px;
      height: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    label {
    
      width: 100px;
      height: 10px;
      background-color: #fff;
      

     
    }
  }
}

