@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.inner {
  width: 100vw;
  height: 100vh;

  input {
    display: none;
  }

  input[id=tab1]:checked~.frame .items {
    left: 0
  }

  input[id=tab1]:checked~.frame .btn label[for=tab1],
  input[id=tab2]:checked~.frame .btn label[for=tab2],
  input[id=tab3]:checked~.frame .btn label[for=tab3] {
    background-color: #333;
  }

  input[id=tab2]:checked~.frame .items {
    left: -100%;
  }

  input[id=tab3]:checked~.frame .items {
    left: -200%;
  }

  .frame {
    width: 100vw;
    height: 100vh; // this part is important!
    overflow: hidden;
    position: relative;


    .items {
      width: 300%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.5s;

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      div {
        width: 33.3333%;
        float: left;
        height: 100vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }


      .slide1 {

        background-color: pink;


      }

      .slide2 {

        background-color: rgb(192, 255, 195);
      }

      .slide3 {

        background-color: rgb(192, 242, 255);
      }


    }


    .btn {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);

    }

    label {
      display: inline-block;
      width: 100px;
      height: 15px;
      background-color: #fff;
      cursor: pointer;




    }
  }
}